@using ControleEstoque.Web.Models
@model List<ProdutoInventarioViewModel>

@{
    ViewBag.Title = "Inventário de Estoque";
}

@section Styles {
    <link href="~/Content/Operacao/Inventario.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12" style="margin: 15px;">
        <h3 class="text-center">@ViewBag.Title</h3>
        <hr />
        <div id="msg_mensagem_aviso" class="text-danger invisivel"></div>
        <fieldset>
            @Html.AntiForgeryToken()
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-2">
                    <a id="btn_incluir" class="btn btn-success" role="button">
                        <i class="glyphicon glyphicon-plus"></i> Incluir Inventário
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="grid" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Local</th>
                                <th>Código</th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Unidade Medida</th>
                                <th>Contagem</th>
                                <th>Motivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var sequencia = 1; }
                            @foreach (var produto in Model)
                            {
                                <tr data-id="@produto.Id">
                                    <td>@sequencia</td>
                                    <td>@produto.NomeLocalArmazenamento</td>
                                    <td>@produto.Codigo</td>
                                    <td>@produto.NomeProduto</td>
                                    <td>@produto.QuantEstoque</td>
                                    <td>@produto.NomeUnidadeMedida</td>
                                    <td><input type="number" class="form-control" value="" min="0" /></td>
                                    <td><input type="text" class="form-control" value="" /></td>
                                </tr>
                                sequencia++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <a id="btn_salvar" class="btn btn-primary" role="button">
                        <i class="glyphicon glyphicon-ok"></i> Salvar
                    </a>
                </div>
            </div>
        </fieldset>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/comum.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Scripts/Operacao/Inventario.js"></script>
    <script>var url_salvar = '@Url.Action("Salvar", "OperInventario")'</script>
}